<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Quarantine Reading</string>
	<key>books</key>
	<array>
		<dict>
			<key>author</key>
			<dict>
				<key>firstName</key>
				<string>Ernest</string>
				<key>lastName</key>
				<string>Hemingway</string>
			</dict>
			<key>title</key>
			<string>For Whom the Bell Tolls</string>
			<key>year</key>
			<string>1951</string>
		</dict>
	</array>
</dict>
</plist>
